# Web server
fastapi==0.110.1
uvicorn==0.29.0

# Background task queue
celery==5.3.6
redis==5.0.4

# OpenCV
opencv-python==4.9.0.80
opencv-contrib-python==4.9.0.80

# Machine learning + scientific stack
numpy==1.26.4
scipy==1.13.0

# Data tools
pandas==2.2.2

# Multipart handling (for file uploads)
python-multipart==0.0.9

mediapipe==0.10.18